:root {
  --brand-color: #4d5ae5;
  --secondary-color: #2E2F42
  --background-color: #2e2f42;
  --second-background-color: #f4f4fd;
}

body {
  color: #434455;
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
}

.list {
  list-style: none;
}

/* Logo */
.logo .link {
  color: var(--brand-color);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.logo:hover {
  color: #525cc9;
}
.logo .accent {
  color: #2e2f42;
}

/* Site nav */

.site-nav .link,
.site-nav .link:current {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1, 5;
  letter-spacing: 2em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:current:hover,
.site-nav .link:focus,
.site-nav .link:current:focus {
  color: #404bbf;
}

.site-nav .link:current {
  color: var(--brand-color);
}

/* Adress */
.list .link {
  text-decoration: none;
  list-style: none;
  font-style: normal;
  color: #434455;
  line-height: 1, 5;
  letter-spacing: 0, 02em;
}

.list .link:hover,
.list .link:focus {
  color: #404bbf;
}

/* Hero */
.hero-title {
  color: #ffffff;
  background-color: #2e2f42;
  font-weight: 700;
  font-size: 56px;
  line-height: 1, 07;
  text-align: center;
}

/* Section */
.section-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 11;
  text-align: center;
}

.section-team {
  background-color: #f4f4fd;
}

.section .h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1, 2;
}

.section .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 5;
}

/* Button */
.button {
  color: #ffffff;
  background-color: var(--brand-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 5;
}

.footer-logo .link {
  color: #f4f4fd;
  background-color: #2e2f42;
}

/* PORTFOLIO */

.list .examples {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.examples .type {
    font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.list .work-nav {
  color: var(--brand-color);
  background-color: var(--second-background-color);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-logo {
  background-color: var(--background-color);
}

.footer-logo .link {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color);
  text-decoration: none;
}

.footer-logo .accent {
  color: #f4f4fd;
}
